#include <stdio.h>
#include <string.h>
#include "tile.h"
#include "field.h"
#include "solve.h"

#include "./puzzles/size{{ size }}.h"

int main(int argc, char** argv) {
    field f = new_field(NTILESROOT);
    memcpy(f.tiles, TILES, NTILES * sizeof(tile));

    field solved[MAX_SOLVED];
    int num_solved = solve(solved, &f);
    if (!num_solved) {
        printf("No solutions found\n");
        return 1;
    }

    printf("%d solution(s) found:\n", num_solved);
    for (int i = 0; i < num_solved; i++) {
        printf("\n");
        print_field(&solved[i]);
    }
    return 0;
}
